body
{
    background-image: url("https://images.unsplash.com/photo-1519810755548-39cd217da494?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHx8&w=1000&q=80");
    background-size:20% 100%
}
.container
{
    padding: 1rem;
    max-width: 80rem;
   
}
.image
{
    max-width: 80rem;
    max-height: 80rem;
}
.badge
{
    background-color:black;
    opacity: 0.5;
    text-align: center;
    color:#47FF00;
    font-size:large;
    font-family:'Architects Daughter'
}
.end
{
    text-align: center;
    font-size: xx-large;
    color: white;
}
