body
{
    background-color: black;
}
.container
{
    padding: 1rem;
    max-width: 80rem;
    background-color: grey;
}
.image
{
    max-width: 80rem;
    max-height: 80rem;
}
.badge
{
    background-color:#5DFDCB;
    text-align: center;
    color: #C03221;
    font-size:large;
}
.end
{
    text-align: center;
    font-size: xx-large;
    color: white;
}